body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    margin:0;
    padding:0;
    background:whitesmoke;
    overflow-x: hidden;
    max-width:100%;
}

/*-----------
     This is Header
-------------------- */
header{
    margin-left:120px;
    margin-top:45px;
}
.checkbtn{
    font-size:30px;
    color:black;
    cursor:pointer;
    float:right;
    margin-right:120px;
    display: none;
    
}
#check{
    display: none;
}
label.logo{
    font-size:34px;
    font-weight: bold;
}
nav ul {
    float:right;
    margin-right:120px;
}
nav ul li .anchor {
    text-decoration: none;
    color:#0082e6;
    list-style: none;
    padding:7px 13px;
    border-radius: 3px;
    
}
nav ul li{
    display: inline-block;
    margin:0 7px;
}
nav li{
    font-size:16px;
    list-style: none;
}
.anchor.active,.anchor:hover{
    background:#1b9bff;
    transition: .5s;
    color:white;
}

/*---------------------------- 
          This is section 2 
-----------------------------*/
.section_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:120px;
    width:1300px;
    
    
}
.div_1{
    margin-top:106px;
    font-weight: 700px;
}
.div_1 h3{
    font-size:42px;
}
.div_2{
    margin-bottom:40px;
}
.button a{
    padding:12px 15px;
    border-radius: 31px;
    text-decoration:none;
}
.button_1{
    background-color:#E02C6D;
    color:#ffffff;
}
.fa-arrow-right{
    margin-left:10px;
}
.camera{
    margin-top:80px;
}   
.camera:hover{
    transform:scale(1.3);
    transition: transform 2s linear;
}
/*----------------------------
        This is logo section
----------------------------- */
.logo_section{
    
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    box-shadow: 10px 10px 40px wheat;
    margin:120px 120px;
    padding:15px;
}
/*-----------------------------------------------------
    This is section 3/Popular Collection section
------------------------------------------------------ */
.section_3{
    margin:30px 120px;
}
.Collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.popular{
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 8px;
}
article{
    background-color:white;
    border-radius: 5px;
    box-shadow: 15px 15px 20px rgb(201, 188, 188);

}
.product{
    margin:10px;
}
.product_photo img{
    width:100%;
}
.product_price{
    font-size:22px;
}
.ratings{
    margin-top:10px;
    font-size:12px;
}
.fa-star.filled{
    color: #FB8200;

}
.fa-star.empty{
    color:#AEAEAE;
}
.more_span{
    margin:13px 120px;
    float:right;
    font-size: 22px;
    
}
.more_span a{
    text-decoration: none;
    color:#E02C6D;
}
/*----------------------------
                 This is section Number 4
----------------------------------------- */
.form_section{
    margin-top:100px;
    margin-left:120px;
}
.form_head h3{
    text-align: center;
   
    font-size: 35px;
}
.login_container{
    display: flex;
    justify-content: center;
}
.login_form{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.login_form input,button{
    font-size:1.3em;
    margin-top: 10px;
    padding-left: 10px;
    border:1px solid orange;
    border-radius: 5px;
}
button{
    background-color:orangered;
    color:white;
    font-weight: bold;
    padding:5px;
    border:0;
}
textarea{
    margin-top: 20px;
    width:350px;
    height:150px;
}
/*------------------
            This is footer section 
            --------------------------------*/
footer{
    margin:90px  120px 0px 120px;
    background:#2c3e50;
    color:white;
    padding:15px;
}
.footer_head{
    text-align: center;
    font-size:22px;
}
.copyright{
    text-align: center;
}
.reseverd{
    text-align: center;
}
.media_links{
    text-align: center;
}
.media_links a{
    
    text-decoration:none;
    color:white;
}
.links{
    margin-right: 8px;
    font-size:16px;
}

/*-------------
             Responsive section 
------------------------*/

/*--------------------- 
            For mobile view 
--------------------------*/

@media (max-width:688px){

    /* This header/nav section */
    label.logo{
        font-size: 20px;
    }
    .checkbtn{
        display: block;
        float: right;
    }
    ul{
        position: fixed;
        width:80%;
        background: #2c3e50;
        text-align:center;
        top:80px;
        left:-100%;
        height:100vh;
        line-height: 80px;
    }
    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .anchor:hover,.anchor.active{
        background: none;
        color:#ffffff;
    }
    #check:checked ~ ul{
        left:0;
    }
    /* This is Site second section/Influencer section */
    
    .section_1{
        display:flex;
        flex-direction: column;
        margin-left:100px;
    }
    .div_1{
        width:400px;
    }
    .div_1 h3{
        font-size: 30px;
    }
    .camera img{
        width:20%;
    }
    /* This is differnt company logo section */
    .logo_section{
        width:100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        box-shadow: 0px 0px 0px white;
        margin:0px 30px 0px 0px;
    }
    .svg_file{
        margin-left:20px;
    }
    /* This sell section means collection section of site */
    .Collection{
        width:100%;
        display:block;
    }
    article{
        grid-template-columns: repeat(1,1fr);
        
    }
    .product{
        margin:10px;
    }
    .login_container{
        margin-right:60px;
    }
    /* This site extra section/login section  */
    .form_head h3{
        font-size:25px;
        margin-left:-90px;
        
    }
    .login_form input,button{
        font-size:1em;
        margin-top: 10px;
        padding-left:5px;
        border:1px solid orange;
        border-radius:3px;
        height:30px;
        width:60x;
    }
    /* This is footer section */
    footer{
        width:100%;
        margin:20px 0px 0px 0px;
    }
}
/*-----------------------------------------------------
                                 For Ipad or tab view 
------------------------------------------------------*/
@media only screen and (min-width: 688px) and (max-width:988px) {
    /* This is site Header/nav section */
    label.logo{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
        float: right;
    }
    ul{
        position: fixed;
        width:80%;
        background: #2c3e50;
        text-align:center;
        top:80px;
        left:-100%;
        height:100vh;
        line-height: 80px;
    }
    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .anchor:hover,.anchor.active{
        background: none;
        color:#ffffff;
    }
    #check:checked ~ ul{
        left:0;
    }
   /* THis is site second/camera  section  */
    .section_1{
        display:flex;
        flex-direction: column;
    }
    .div_1{
        width: 688px;
    }
    .div_1 h3{
        font-size: 40px;
    }
   
    /* This is differnt company logo section */
   
    .logo_section{
        width:100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        box-shadow: 0px 0px 0px white;
        margin-left:30px;
    }
    .svg_file{
        margin-left:20px;
    }
    /* This is site selling section */
    .Collection{
        width:100%;
        grid-template-columns: repeat(2,1fr); 
    }
    .product{
        margin:10px;
        
    }
    /* This is website login section */
    .login_container{
        margin-right:60px;
    }
    .form_head h3{
        font-size:25px;
        margin-left:-90px;
        
    }
    .login_form input,button{
        font-size:1em;
        margin-top: 10px;
        padding-left:5px;
        border:1px solid orange;
        border-radius:3px;
        height:30px;
        width:60x;
    }
    /* This is the last part means footer section */
    footer{
        width:100%;
        margin:20px 0px 0px 0px;
    }
    
}